.research{

    padding:80px;

    background:#f4f7fb;

}

.research h2{

    color:#003366;

    margin-bottom:40px;

}

.research-grid{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:20px;

}

.research-card{

    background:white;

    padding:30px;

    border-radius:10px;

    text-align:center;

    box-shadow:0 5px 10px rgba(0,0,0,.1);

}