.page-header{

    height:320px;

    background-size:cover;

    background-position:center;

}

.page-header-overlay{

    width:100%;

    height:100%;

    background:rgba(0,0,0,.55);

    display:flex;

    align-items:center;

}

.page-header-content{

    color:white;

    max-width:700px;

}

.page-header-content h1{

    font-size:54px;

    margin-bottom:18px;

}

.page-header-content p{

    font-size:22px;

    line-height:1.7;

}