.input{

    width:100%;

    padding:15px 18px;

    border-radius:14px;

    border:1px solid var(--border);

    background:white;

    transition:.2s;

    font-size:15px;

}

.input:focus{

    outline:none;

    border-color:var(--primary);

    box-shadow:0 0 0 4px rgba(37,99,235,.12);

}